<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SmtpHost" value="192.168.168.251"/>    FOR LIVE-->
    <add key="SmtpHost" value="localhost" />
    <add key="EmailNotificationBCC" value="Stephenh@is2.co.uk,support@isisbroker.co.uk" />
    <!--For Testing-->
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
</configuration>